<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devs.erasmus.epills">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.AddPillGeneralActivity"
            android:label="@string/title_activity_addPill"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="devs.erasmus.epills.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".controller.ClockActivity"
            android:label="@string/title_activity_clock"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.AddPillSetTime"
            android:label="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.SplashActivity"
            android:label="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MedicineBoxActivity"
            android:label="@string/medicinBox_Title"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".broadcast_receiver.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".widget.NotificationService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".broadcast_receiver.BootReceiver"
            android:enabled="false"> <!-- this way the receiver is called only when necessary, when setting an alarm -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast_receiver.ActionReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".controller.EditIntakeActivity"></activity>
    </application>

</manifest>